{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<table style="margin-top: 10px">
	
	
		{%for i in profilepic %}
		<form method="POST">{% csrf_token %}
			<tr>
		
					<th><img style="border-radius: 30%;width: 40px" src="{{i.profilepic.url}}"></img></th>
					<th><a href="{{i.username.username}}">{{i.username.username}}:</a></th>

				{% if i.username.username in followinglist%}
					<TH><button style="margin-top: 10px" name="USERS" type="submit" value="{{i.username.username}}">UNFOLLOW</button></TH>
				{% else %}
					<TH><button style="margin-top: 10px" name="USERS" type="submit" value="{{i.username.username}}">FOLLOW</button></TH>
				{% endif%}
			</tr>
		</form>
	</table>
{%endfor%}
<a href="thf"><button  style="margin-top: 10px">profile</button></a>
{% endblock %}